.jumbotron{
  background-color:#ff3f34;
  color:#fff;
  padding:100px 0;
  text-align:center;
}
.brand-icon{
  font-size:100px;
}
.example{
  margin-left:70px;
}
.example input{
  position:absolute;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 90%;
  background: #f1f1f1;
  align:center;
}
.example input.form-control{
  text-align:center;
}